<% for(var dataItem in data) { %>
  <div class="row header-padding position-padding"> <!-- position begins -->
    <div class="col-md-6">
      <div class="row"> 
        <div class="col-md-6 text-right text-info">
          <strong><%- data[dataItem].positionData.name %>:</strong>
        </div>
        <div class="col-md-6 text-left text-warning">
          <strong><%- data[dataItem].CandidateData.lastName %>, <%- data[dataItem].CandidateData.firstName %></strong>
        </div>
      </div> 
    </div>
    <div class="col-md-6">
      <button id="<%- data[dataItem].positionData.id %>" class="btn btn-primary btn-sm voter-buttons" type="button">vote</button>
    </div>
  </div> <!-- position ends -->
<% } %>