<% for(var dataItem in data) {  console.log(dataItem); %>
  <div class="row header-padding position-padding"> <!-- position begins -->
    <div class="col-md-6">
      <div class="row"> 
        <div class="col-md-6 text-right text-info">
          <strong><%- data[dataItem].positionData.name %>:</strong>
        </div>
        <div class="col-md-6 text-left text-warning">
          <strong><%- data[dataItem].CandidateData.lastName %>, <%- data[dataItem].CandidateData.firstName %></strong>
        </div>
      </div> 
    </div>
    <div class="col-md-6">
      <a href="#" class="btn btn-primary btn-sm vote-buttons" role="button">vote</a>
    </div>
  </div> <!-- position ends -->
<% } %>